@{
    Layout = null;
}

<style type="text/css">
    #dv_updatePwd {
        margin-top: 40px;
        margin-left: 50px;
    }
    #btn_savePwd {
        cursor: pointer;         
    }
    .dvRow{
        height:30px;
        line-height:30px;
    }
    .spBlock{
        display:inline-block;
        width:80px;
    }
</style>

<div id="dv_updatePwd">
    <form id="pwdForm" method="post" enctype="multipart/form-data">
        <div class="dvRow">
            <span class="spBlock">原密码：</span>
            <input type="password" required validtype="length[5,20]" autocomplete="off" class="easyui-validatebox text1" id="pwd" />
        </div>
        <div class="dvRow">
            <span class="spBlock">新密码：</span>
            <input type="password" required validtype="length[5,20]" autocomplete="off" class="easyui-validatebox text1" id="pwdNew" />
        </div>
        <div class="dvRow">
            <span class="spBlock">确认密码：</span>
            <input type="password" required validtype="length[5,20]" autocomplete="off" class="easyui-validatebox text1" id="pwdNewSure" />
        </div>
        <div class="dvRow" style="padding-left:80px;margin-top:20px;">
            <input type="button" id="btn_savePwd" value="保存" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        //$("#dv_updatePwd").parent(".panel-body")[0].style.height = "800px";

        //保存
        $("#btn_savePwd").on("click", function () {
            var isValid = $("#pwdForm").form("validate");
            if (!isValid) {
                return false;
            }
            var pnew = $.trim($("#pwdNew").val());
            var pnewSure = $.trim($("#pwdNewSure").val());
            if (pnew === pnewSure) {
                var params = {
                    pwd: $("#pwd").val(),
                    pwdNew: pnew
                };
                $.post("@Url.Action("UpdatePassword", "Employee")", params, function (data) {
                    $.messager.alert("提示", data.Msg);
                });
            }
            else {
                $.messager.alert("提示", "两次密码输入不一致！");
            }
        });
    });
</script>